[build]
builder = "railpack"

[deploy]
startCommand = "frankenphp run --config /app/Caddyfile"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
